.my-bg-primary {
    background-color: rgb(1, 8, 116);
}
.card-img-top {
    height: 60vh;
}
.footer-bottom{
	width: 100%;
	text-align: center;
    color: #fff;
    padding: 25px;
	background-color: rgb(1, 8, 116);
}
.img-full {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
  
.vertical-center {
    min-height: 100%;  
    min-height: 90vh;
    display: flex;
    align-items: center;
}
